.headerContainer {
    width: 100%;
    position: sticky;
    top: 0px;
    background-image: var(--primary-gradient-1);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    gap: 15px;
}

.headerContainer .headerTitle {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color-1);
}

.headerContainer .navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}

.navbarContainer ul {
    display: flex;
    list-style: none;
}

.navbarContainer ul li {
    margin-left: 1rem;
}

.navbarContainer ul li a {
    color: var(--secondar-color-1);
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.navbarContainer ul li a:hover {
    color: var(--primary-color-1);
    text-decoration: underline;
    text-decoration-color: var(--primary-color-1);
}

.navbarContainer ul li .active {
    color: var(--primary-color-2);
}

.profileImage {
    display: flex;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.headerTitleSection {
    display: flex;
    align-items: center;
    gap: 15px;
}


.contactDetailsListContainer {
    display: flex;
    gap: 20px;
}

.hamburgerMenu {
    display: none;
}

@media (max-width: 480px) {
    .headerContainer .navbarContainer {
        justify-content: space-evenly;
        width: 100%;
        overflow: auto;
    }
}