.contactContainer {
    background-color: rgb(235, 235, 235);
    padding: 2rem 2rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.contactDetailsListContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}