:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to right, #0d0f14, rgb(0, 0, 0));
    --foreground: #ededed;

    --primary-color: #0d0f14;
    --primary-color-1: #0095ff;
    --primary-color-2: #4cb2fb;
    --primary-gradient: linear-gradient(to right, #0d0f14, rgb(0, 0, 0));
    --primary-gradient-1: linear-gradient(to right, black , rgba(4, 38, 66, 0.63));

    --secondar-color-1: #e5e5e5
  }
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  font-family:  var(--font-roboto);
}

body {
  color: var(--foreground);
  background: var(--background);
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-open-sans);
}

h1 {
  font-family: var(--font-playfair-display);
}

.p-10 {
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
